@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:wght@400;600&display=swap');

:root {
  font-size: 10px;
  --bg: white;
  --accent-bg: #0B9D94;
  --font-color: black;
  --hover-color: #0B9D94;
  --accent-color: #0B9D94;
  --btn-bg: black;
  --btn-color: white;
  --shadow: rgba(0, 0, 0);
}

[data-theme="dark"] {
  --bg: black;
  --font-color: white;
  --btn-bg: white;
  --btn-color: black;
  --shadow: rgba(255, 255, 255);
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  padding: 0;
  font-size: 2rem;
  background-color: var(--bg);
  color: var(--font-color);
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

h1,
h2,
h3,
h4 {
  font-family: 'Hammersmith One', sans-serif;
}

header {
  max-width: 1200px;
  margin: 0 auto;
}

span {
  color: var(--accent-color);
}

#hiddenDarkLabel {
  color: rgba(0, 0, 0, 0);
}

.links {
  display: flex;
  justify-content: space-between;
  height: 2rem;
  background-color: var(--secondary-bg);
}

.links button {
  display: none;
}

#mobile-nav {
  display: none;
}

.main-nav {
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 8px 70px;
}

.links a {
  padding-right: 2.5vw;
  text-decoration: none;
  color: var(--font-color);
}

.links a:hover {
  color: var(--hover-color);
}

#toggle {
  position: absolute;
  top: 0.2rem;
  right: 5rem;
  margin: 0 1vw;
  width: 6rem;
  height: 3.4rem;
  border-radius: 3rem;
  background-color: var(--btn-bg);
}

#toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

#slider {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  height: 2.5rem;
  width: 2.5rem;
  top: 0.42rem;
  right: 0.7rem;
  border-radius: 3rem;
  background-color: var(--btn-color);
  transition: ease-in 0.2s;
}

#slider.dark {
  right: 3rem;
}

.hero {
  display: flex;
  height: 20rem;
  color: var(--font-color);
  flex-wrap: wrap;
  padding: 0;
  margin-top: 30px;
}

.logo h1 {
  padding: 0;
  padding-left: 5px;
  margin: 0;
  font-weight: 300;
  font-size: 35px;
}

.hero p {
  display: block;
  margin-top: -3rem;
}

.copy {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 600px));
  justify-content: center;
  align-items: center;
}

.copy_text {
  max-width: 400px;
  padding: 20px;
}

.copy_img {
  margin: 0 auto;
}

.copy_img img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  box-shadow: 0 0 10px 0 var(--shadow);
  border-radius: 3px;
}

.recent-projects {
  padding: 0;
  margin-top: 200px;
  background-image: url("./assets/BG.svg");
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  color: black;
}

.recent-projects h2 {
  margin-bottom: 150px;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  max-width: 1200px;
  margin: 0 auto;
}

.project {
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  margin: 0 auto;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.project a {
  text-decoration: none;
  color: black;
}


.project:hover {
  transform: scale(1.04);
}

.project img {
  max-width: 25vw;
  max-height: 50rem;
  align-self: center;
}

.project-description {
  padding: 10px;
  text-align: left;
  width: 400px;
  height: 460px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  border-radius: 4px;
}

.project-description h3 {
  text-align: center;
}

.project-description p {
  font-size: 17px;
  font-weight: 600;
}

.project-description a:hover {
  color: var(--hover-color);
  text-decoration: underline;
}

#teammateme {
  position: relative;
}

#teammateme::before {
  content: "";
  background-image: url("./assets/TeammateMe.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
}

#underscore {
  position: relative;
}

#underscore::before {
  content: "";
  background-image: url("./assets/UnderscoreGames.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
}

#chipdrop {
  position: relative;
}

#chipdrop::before {
  content: "";
  background-image: url("./assets/ChipDrop.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
}

#recovery {
  position: relative;
}

#recovery::before {
  content: "";
  background-image: url("./assets/ScreenshotAScrapGuy.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
}

#altitude {
  position: relative;
}

#altitude::before {
  content: "";
  background-image: url("./assets/YourDensityAltitude.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.15;
}

#articles {
  box-sizing: border-box;
  text-align: center;
  margin-top: 200px;
}

#articles h2 {
  margin-bottom: 100px;
}

#article-posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  grid-row-gap: 50px;
  max-width: 1200px;
  margin: 0 auto;
}

#article-posts a {
  text-decoration: none;
  color: black;
}

#article-posts a:hover {
  color: var(--hover-color);
}

#article-posts img {
  width: 100%;
  height: auto;
}

.article {
  padding: 10px;
  text-align: left;
  width: 400px;
  height: 300px;
  background-color: white;
  box-shadow: 0 0 10px 0 black;
  border-radius: 4px;
  margin: 0 auto;
}

.footer {
  text-align: center;
  width: 100vw;
  margin-top: 150px;
}

@media only screen and (max-width: 900px) {
  #toggle {
    right: 1rem;
  }

  .links a {
    padding-right: 1.5vw;
    font-size: 16px;
  }

  .logo h1 {
    font-size: 30px;
  }

  .main-nav {
    padding: 8px 0;
    padding-left: 10px;
  }
}

@media only screen and (max-width: 700px) {
  :root {
    font-size: 8.5px;
  }

  body {
    width: 100vw;
  }

  .hero p {
    margin-top: -3rem;
  }
  
  .article {
    width: 280px;
    height: 300px;
  }

  .project-description {
    width: 280px;
    height: 550px;
  }
}

@media only screen and (max-width: 600px) {

  .main-nav {
    display: none;
  }

  .hero {
    justify-content: space-between;
  }

  #toggle {
    left: 1rem;
  }

  #menu-btn {
    display: block;
    height: 3rem;
    width: 5rem;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    color: var(--font-color);
    font-size: 3rem;
    margin-right: 3rem;
    cursor: pointer;
    margin-top: -5px;
  }

  #menu-btn-img {
    height: 100%;
    width: auto;
  }

  #mobile-nav {
    position: absolute;
    z-index: 2;
    background-color: var(--bg);
    font-size: 3rem;
    top: 7rem;
    right: .5rem;
    width: 140px;
    line-height: 7rem;
    border-radius: 4px;
    margin-right: 3rem;
    text-align: center;
  }
  
  .mobile-nav-btn {
    border: solid 1px var(--font-color);
    width: 100px;
    height: 40px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
  }

  #mobile-nav a {
    font-weight: bold;
  }
  

  #mobile-nav a:hover {
    color: var(--hover-color);
  }

  .hero {
    padding: 0 1rem;
    height: 240px;
  }

  .hero p {
    margin-top: -3rem;
  }

  .project img {
    width: 30vw;
  }

  #article-posts {
    padding: 0 4vw;
  }

  .recent-projects {
    padding: 0 4vw;
  }
}

@media only screen and (max-width: 448px) {

  body p {
    font-size: 2.2rem;
  }

  .hero {
    height: 280px;
  }

  .hero p {
    margin-top: -2rem;
  }

  .recent-projects {
    text-align: center;
  }

  #article-posts, .projects {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}

@media screen and (max-width: 420px) {
  .hero p {
    margin-top: -0.5rem;
  }

  .logo h1 {
    font-size: 26px;
  }

  .copy_img img {
    height: 280px;
    width: 280px;
  }

  .article {
    width: 200px;
    height: 160px;
  }

  .article h2 {
    font-size: 16px;
  }

  .project-description {
    width: 200px;
    height: 370px;
  }

  .project-description h3 {
    font-size: 16px;
  }

  .project-description p {
    font-size: 12px;
  }
}
